<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  ​<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href='/static/style.css'>

  <!--"{{ url_for('static', filename='style.css') }}"-->
</head> 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars Scrape</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <body class="text-white, text-center" style="background-color:black;">
        <div class="container">

    <div class="container-fluid">
        <div class="jumbotron text-center" style="background-image: url(http://pages.erau.edu/~andrewsa/sci_fi_projects_spring_2019/Project_3/Ferree_Andrew/Project3SiteSubmission/mars.jpg); background-size: 100%; height: 10%;">
            <h1 class="display-4">Mission to Mars</h1>
            <a class="btn btn-lg text-white" style="background-color:gray;" href="/scrape" role="button">Get New Data</a>
        </div>
    </div>
    <hr style="border-width: 0px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-align: center; color: white">Read the Latest Mars News</h1>
                <h3 style="text-align: center; color: gray">{{ mars.news_title }}</h3>
                <p style="text-align: center; color: rgb(241, 121, 8)">{{ mars.news_paragraph }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h1 style="text-align: center; color: white">Featured Mars Image</h1>
                <a href="{{mars.featured_image_url}}" target="_blank"><img style="width:100%" src="{{mars.featured_image_url}}"></a>
            </div>
            <div class="col-md-4">
                <h1 style="text-align: center; color: white">Mars Facts</h1>
                <div style="max-width: 450px; max-height: 150px; font-size: 10px; margin-bottom: 25px;"></div>
                <div>{{ mars.mars_facts|safe }}</div>
            </div>
        </div>
        <hr style="border-width:0px;color:rgb(241, 121, 8);">
        <div class="row">
            <div class="col-md-12">
                <h1 style="padding-top: 1px; margin-top: 1px; text-align: center; color: white">Mars Hemispheres</h1>
                <hr style="border-width:0px;color:rgb(241, 121, 8)">
            </div>
        </div>

        <div class="col-md-12">
        <div class="row">
            {% for hemi in mars.hemispheres[0:2] %}
            <div class="col-md-6">
                <div class="card text-white bg-dark" style="margin: 10px;"></div>
                <h3>{{hemi.title}}</h3>
                <a href="{{hemi.img_url}}" target="_blank"><img style="width:50%" src="{{hemi.img_url}}"></a>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-12">
        <div class="row">
            {% for hemi in mars.hemispheres[2:4] %}
            <div class="col-md-6">
                <div class="card text-white bg-dark" style="margin: 30px;"></div>
                <h3>{{hemi.title}}</h3>
                <a href="{{hemi.img_url}}" target="_blank"><img style="width:50%" src="{{hemi.img_url}}"></a>
            </div>
            {% endfor %}
        </div>

    </div>
    
</body>

</html>
